<div *ngFor="let docs of documents">
<h2 >{{docs.name}} Photo Gallery</h2>
<image-upload url="http://localhost:3000/users/photo/{{docs._id}}" [style]="customStyle" [disabled]="isDisabled" (click)="showMessage()"></image-upload>
<section id="photos">
<div *ngFor="let photo of photos; let i=index">
<img [src]="photo.imageData" class="img-thumbnail" (click)="myModal.open()">
<modal #myModal>
        <modal-content>
            <img [src]="photo.imageData">
        </modal-content>
        <!-- <modal-footer>
            <button class="btn btn-primary" (click)="myModal.close()">close</button>
        </modal-footer> -->
    </modal>
</div>
</section>
</div>
