<div *ngFor="let docs of documents">
<h2 >{{docs.name}}</h2><br><br><br>
<!-- <h4>Judging Pool: {{docs.judgingpool}}</h4>
<h4>Accomodations: {{docs.accomodations}}</h4>
<h4>Location: {{docs.location}}</h4>
<h4>Scheduling: {{docs.scheduling}}</h4>
<h4>Overall: {{docs.overall}}</h4> -->


</div>
<form (submit)='onReviewSubmit()'>
  <div class="col-xs-2">
  <div class='form-group'>
    <label>Overall</label><br>
    <bar-rating name='overall' [(ngModel)]='overall' [max]="5" [readOnly]='false'></bar-rating>
  </div>
  <div class='form-group'>
    <label>Judging Pool</label><br>
    <bar-rating name='judgingpool' [(ngModel)]='judgingpool' [max]="5" [readOnly]='false'></bar-rating>
  </div>
  <div class='form-group'>
    <label>Accomodations</label><br>
    <bar-rating name='accomodations' [(ngModel)]='accomodations' [max]="5" [readOnly]='false'></bar-rating>
  </div>
  <div class='form-group'>
    <label>Location</label><br>
    <bar-rating name='location' [(ngModel)]='location' [max]="5" [readOnly]='false'></bar-rating>
  </div>
  <div class='form-group'>
    <label>Scheduling</label><br>
    <bar-rating name='scheduling' [(ngModel)]='scheduling' [max]="5" [readOnly]='false'></bar-rating>
  </div>
  </div>
  <div class="col-xs-10">
  <div class='form-group'>
    <label>Comments</label><br>
    <textarea name="content" [(ngModel)]='content' rows="8" cols="80" class="form-control"></textarea>
    <!-- <input type='text' [(ngModel)]='content' name='content' class="form-control"> -->
  </div>
  <input type='submit' class = 'btn btn-primary' value='Submit'>
  </div>
</form>
