<footer class="page-footer font-small pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3 style="color:white;">TourneyRFD</h3>
        <h5 style = "color:white">Contact Us</h5>
        <p style = "color:white">Email: <a href="mailto:administrator@tourneyrfd.com" target="_top" style = "color:white">administrator@tourneyrfd.com</a></p>
        <p style = "color:white">Phone Number: (602) 737 9976</p>
      </div>
      <!-- Grid column -->

      <br>
      <br>
      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-6">

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="['/termsandconditions']"><h4 style = "color:white">Terms and Conditions</h4></a>
          </li>
          <li>
            <a [routerLink]="['/aboutus']"><h4 style = "color:white">About Us</h4></a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->



    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright" style = "text-align: center">© 2019 Copyright TourneyRFD
  </div>
  <!-- Copyright -->
