<h2>About Us</h2>
<br>

<p style='font-size: 21px'>
We are an independent, community run website with the purpose of improving the Speech and Debate community. We wanted to provide a safe space for Speech and Debaters to share their opinions and experiences at national tournaments. Our goals are two-fold:
</p>
<p style='font-size: 21px'>
    <li>Collect and provide information about national tournaments to everyone</li>
    <li>Promote and facilitate change among tournaments with the goal of improving tournament quality</li>
</p>
<p style='font-size: 21px'>
</p>
