<h2>About Us</h2>
<br>

<p style='font-size: 21px'>
We are an independent, community run website with the purpose of improving the Speech and Debate community. We wanted to provide a safe space for Speech and Debaters to share their opinions and experiences at national tournaments. Our goals are two-fold:
</p>
<p style='font-size: 21px'>
    <li>Collect and provide information about national tournaments to everyone</li>
    <li>Promote and facilitate change among tournaments with the goal of improving tournament quality.</li>
</p>
<br>
<h2>How We Rate Tournaments</h2>
<p style='font-size: 21px'>
  <b>Judging Pool</b> indicates the quality of the judges at tournaments. Please note that judges that vote against you are not necessarily bad judges.
</p>
<br>
<p style='font-size: 21px'>
  <b>Accomodations</b> includes the quality of tournament hotels, venues, and amenities.
</p>
<br>
<p style='font-size: 21px'>
  <b>Location</b> specifies the quality of the area surrounding the tournament. For example, safety and convenience are things to consider when evaluating location.
</p>
<br>
<p style='font-size: 21px'>
  <b>Scheduling</b> represents how well tournaments were run and scheduled. This may include the timing of rounds and wait perionds between rounds.
</p>
<br>
<p style='font-size: 21px'>
  <b>Overall</b> is a holistic rating that reviewers feel best represents the overall quality of a tournament. This may reflect <b>Judging Pool</b>, <b>Accomodations</b>, <b>Location</b>, or <b>Scheduling</b>
</p>
<br>
