<h2 lass='page-header'>Register</h2>
<form (submit)='onRegisterSubmit()'>



  <div class = 'col-xs-6'>
    <div class='form-group'>
      <label>First Name</label>
      <input type='text' [(ngModel)]='firstname' name='firstname' class="form-control">
    </div>
  </div>

  <div class = 'col-xs-6'>
    <div class='form-group'>
      <label>Last Name</label>
      <input type='text' [(ngModel)]='lastname' name='lastname' class="form-control">
    </div>
  </div>

  <div class = 'col-xs-2'>
  <div class='form-group'>
    <label>Student or Coach</label><br>
    <input type='radio' [(ngModel)]='role' name='student' value='Student' class="form-check">   Student
    <input type='radio' [(ngModel)]='role' name='coach' value='Coach' class="form-check">   Coach
  </div>
  </div>
  <div class = 'col-xs-10'>
  <div class='form-group'>
    <label>Affiliation</label><br>
    <input type='text' [(ngModel)]='affiliation' name='affiliation' class="form-control">
  </div>
  </div>
  <div class = 'col-xs-7'>
  <div class='form-group'>
    <label>Email</label>
    <input type= 'text' [(ngModel)]='email' name='email' class='form-control'>
  </div>
  </div>
  <div class = 'col-xs-5'>
  <div class='form-group'>
    <label>Username</label>
    <input type= 'text' [(ngModel)]='username' name='username' class='form-control'>
  </div>
  </div>
  <div class = 'col-xs-12'>
  <div class='form-group'>
    <label>Password</label>
    <input type= 'password' [(ngModel)]='password' name='password' class='form-control'>
  </div>

  <br>
  <div class="checkbox">
    <label><input type="checkbox" [(ngModel)]='agreement' name='agreement' value="">I accept the <a [routerLink]="['/termsandconditions']">Terms and Conditions</a></label>
  </div>

  </div>

` <br>`
  <input type='submit' class = 'btn btn-primary' value='Submit' >



</form>

<div class="modal" id="myModal" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h3>Congratulations on making your account!</h3>
          <p> A confirmation email has been sent to your email account with further instructions.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" [routerLink]="['/login']">Ok</button>
        </div>
      </div>
    </div>
</div>

<button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>
