
<div class="jumbotron">
  <h1>TourneyRFD</h1>
  <br>
  <div class="searchbar">
  <input type="text" [(ngModel)]="term" name="term" class="form-control"  placeholder="Search">
  </div>
</div>
<h2>Tournaments</h2>
  <div *ngFor="let docs of documents | filter:term">
    <ul class='list-group'>
      <li class='list-group-item'>
        <div class="col-xs-4">
        <a [routerLink]="['/tournament/', docs._id]"><h4>{{docs.name}}</h4></a>
         <!-- (click)="onLinkClick(docs._id)" -->
        </div>
        <div class="col-xs-2">
          <b><h5>Tournament Dates</h5></b>
          <b>Start Date: {{docs.startdate}}</b> <br>
          <b>End Date: {{docs.enddate}}</b>
        </div>
        <div class="col-xs-2">
          <b><h5>Tournament Address</h5></b>
          <b>{{docs.address}}</b>
        </div>
        <b><h5>Overall Rating</h5></b> <bar-rating [rate]=docs.overall [max]="5" [readOnly]='true'></bar-rating>
      </li>
    </ul>
</div>
    <br><br>
