
<div class="jumbotron">
  <h1>TourneyRFD</h1>
  <br>
  <div class="searchbar">
  <input type="text" [(ngModel)]="term" name="term" class="form-control"  placeholder="Search">
  </div>
</div>
<h2>Tournaments</h2>
  <div *ngFor="let docs of documents | filter:term">
      <table style="width:100%">
      <tr>
        <td style = "width: 30%">
        <a [routerLink]="['/tournament/', docs._id]"><h4>{{docs.name}}</h4></a>
        </td>
        <td style = "width: 20%">
          <b><h5>Tournament Dates</h5></b>
          <b>Start Date: {{docs.startdate}}</b> <br>
          <b>End Date: {{docs.enddate}}</b>
        </td>
        <td style = "width: 25%">
          <b><h5>Tournament Address</h5></b>
          <b>{{docs.address}}</b>
        </td>
        <td style = "width: 25%">
        <b><h5>Overall Rating</h5></b> <bar-rating [rate]=docs.overall [max]="5" [readOnly]='true'></bar-rating>
        </td>
      </tr>
      </table>
      <br><br>
</div>
    <br><br>
